<div>
    <div class="text-center">
        <h1 class="my-4 fw-bolder">Welcome {{ firstName }} {{ lastName }}</h1>

        <h3>We're thrilled to have you here. Let's get started:</h3>
        
            <p>Begin by clicking the "Add an Event" button to create a new event on your timeline.</p>
            <p>Enter the Event Details:</p>
                <li>Year: Input the year of the event.</li>
                <li>Title: Give your event a descriptive title.</li>
                <li>Description: Provide a brief description of the event.</li>
            <br>
            <p>Submit Your Event: Hit the submit button to add your event to the timeline.</p>
        

        <button id="myBtn" class="btn btn-primary rounded-pill px-4 py-2 my-4">Add an Event</button>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>

            <div class="register-container">
                <h2 style="text-align: center;">Timeline</h2>
                <form id="event-form">
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label for="year">Year:</label>
                        <input type="number" id="year" name="year" class="form-control" placeholder="Year" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label for="title">Title:</label>
                        <input type="text" id="title" name="title" class="form-control" required>
                    </div>
                    <div class="form-group" style="margin-bottom: 15px;">
                        <label for="post">Post:</label>
                        <textarea id="post" name="post" class="form-control" rows="3" required></textarea>
                    </div>
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Create Event</button>
                    </div>
                </form>
            </div>
        </div>
    </div>



    <div class="timeline">
        <div>
            <div class="line"></div>
            {{#each events}}

            <div class="section my-2">
                <div class="bead"></div>
                <div class="content">
                    <h1 class="fs-2 fw-bolder text-wrap" style="width: 9rem; color: #eceef1"> {{year}}</h1>
                    <h2 class="fs-1" style="color: #eceef1;">{{title}} </h2>
                    <p class="text-dark fs-5">{{post}}</p>
                </div>
            </div>
            {{/each}}
        </div>
    </div>




    {{!-- MODAL --}}


    <script>
        var modal = document.getElementById("myModal");
        var btn = document.getElementById("myBtn");
        var span = document.getElementsByClassName("close")[0];

        btn.onclick = function () {
            modal.style.display = "block";
        }

        span.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }

        document.getElementById("event-form").addEventListener("submit", function (event) {
            // Prevent default form submission
            event.preventDefault();

            // Serialize form data
            var formData = {
                year: this.year.value,
                title: this.title.value,
                post: this.post.value
            };
            console.log(formData);
            // Send form data via AJAX
            fetch("/events", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"

                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json()) // Assuming server returns JSON
                .then(data => {
                    // Update EventList with new data
                    window.location.reload();

                })
                .catch(error => {
                    console.error('Error:', error);
                    // Handle error if needed
                });
        });

        // Function to update the EventList
        function updateEventList(data) {
            // Assuming data is an array of events
            var eventList = document.getElementById("event-list");
            eventList.innerHTML = ""; // Clear existing list

            data.forEach(event => {
                var eventItem = document.createElement("li");
                eventItem.textContent = event.title + " - " + event.year; // Customize as needed
                eventList.appendChild(eventItem);
            });
        }


    </script>
</div>